{% extends "bootstrap/base.html" %}

{% import 'macros/result_table.html' as result_table %}
{% import 'macros/go_button.html' as go_button %}

{% block styles %}
{{ super() }}
{{ result_table.styles() }}
{% endblock %}

{% block scripts %}
{{super()}}
{{ result_table.scripts('/api/employees/percentage_older_than_average') }}
{{ go_button.scripts() }}
{% endblock %}

{% block navbar %}
    {{ nav.mynavbar.render() }}
{% endblock %}

{% block content %}
    <div class="col-lg-2">
        <div class="input-group">
            <input value="0" type="number" min="0" class="form-control param" placeholder="years" id="years">
            <span class="input-group-addon" id="basic-addon1">years</span>
            <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="go">Go!</button>
            </span>
        </div>
    </div>
    {{ result_table.table(["company_name", "average_employee_age", "percentage_older"]) }}

{% endblock %}