{% extends "bootstrap/base.html" %}
{% import 'macros/result_table.html' as result_table %}


{% block styles %}
{{super()}}
<link rel="stylesheet" href="static/vendor/dropzone/dropzone.min.css"/>
<link rel="stylesheet" href="static/vendor/dropzone/basic.css"/>
{{ result_table.styles() }}
{% endblock %}


{% block scripts %}
{{super()}}
<script src="static/vendor/dropzone/dropzone.min.js"></script>
{{ result_table.scripts('/api/employees') }}
<script>
    $(document).ready(function () {
        loadResultTable();
        Dropzone.options.importEmployeesCsv = { success: loadResultTable };
    });
</script>
{% endblock %}


{% block navbar %}{{nav.mynavbar.render()}}{% endblock %}


{% block content %}
    <form action="/api/employees"
          class="dropzone"
          id="import-employees-csv"></form>

    {{
        result_table.table([
            "employee_id",
            "job_title",
            "continent",
            "country",
            "state",
            "city",
            "age",
            "first_name",
            "last_name",
            "company_name",
        ])
    }}
{% endblock %}