{% extends "bootstrap/base.html" %}

{% import 'forms/result_table.html' as result_table %}

{% block styles %}
{{super()}}
{{ result_table.styles() }}
{% endblock %}

{% block scripts %}
{{super()}}
{{ result_table.scripts() }}
{% endblock %}

{% block navbar %}
    {{ nav.mynavbar.render() }}
{% endblock %}

{% block content %}
    <div class="dropdown col-lg-2">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Location
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>

    <div class="col-lg-2">
        <div class="input-group">
            <input type="number" min="0" class="form-control" placeholder="percentage threshold" id="percentage">
            <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->

    {{ result_table.table(["company_name", "location_name", "percentage"]) }}

{% endblock %}
