{% extends "bootstrap/base.html" %}

{% import 'macros/result_table.html' as result_table %}
{% import 'macros/go_button.html' as go_button %}

{% block styles %}
    {{ super() }}
    {{ result_table.styles() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ result_table.scripts('/api/employees/percentage_by_location') }}
    {{ go_button.scripts() }}
{% endblock %}

{% block navbar %}
    {{ nav.mynavbar.render() }}
{% endblock %}

{% block content %}
    <div class="col-lg-4">
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Location <span
                        class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-lrft">
                    {% for location in locations %}
                        <li><a onclick="$('#location').val('{{ location }}')">{{ location }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="input-group">
                <input type="text" class="param form-control" aria-label="..." id="location">
                <input type="number" value="0" min="0" class="form-control param" placeholder="percentage threshold" id="min_percentage">
            </div>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="go">Go!</button>
            </span>
        </div>
    </div>

    {{ result_table.table(["company_name", "location", "percentage"]) }}

{% endblock %}
